Source: hmat-oss 
Section: science
Priority: extra
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Denis Barbier <barbier@debian.org>
Build-Depends: debhelper (>= 8), quilt, gfortran, cmake, liblapack-dev, libblas-dev
Standards-Version: 3.9.5
Homepage: https://github.com/jeromerobert/hmat-oss

Package: libhmat
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dynamic libraries for HMat 
 A hierarchical matrix C/C++ library including a LU solver.

Package: libhmat-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libhmat (= ${binary:Version}),
 liblapack-dev, libblas-dev
Description: headers and development libraries for HMat
 A hierarchical matrix C/C++ library including a LU solver.
 
Package: libhmat-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, libhmat-dev
Description: debug symbols for HMat 
 A hierarchical matrix C/C++ library including a LU solver.

